# Recommendation Engines - Lab 2 - Hybrid - Challenge

In [1]:
import pandas as pd
import numpy as np

In [2]:
# Imports the Excel file

cleanexcel = pd.ExcelFile('exerciseCB_clean_data.xlsx')

In [3]:
# Gives the names of the sheets

cleanexcel.sheet_names

['CB - Simply Unary', 'Want answer  - Down vote', 'Up-Downs']

In [4]:
# Creates a dataframe for each sheet

unarydf = cleanexcel.parse('CB - Simply Unary')
wantdf = cleanexcel.parse('Want answer  - Down vote')
updowndf = cleanexcel.parse('Up-Downs')

In [5]:
unarydf

,Unnamed: 0,Sports,Books,Leadership,Philosophy,Society,Fiction,Security,Love,VideoGames,Superheroes
0,question1,1,0,1,0,1,1,0,0,0,1
1,question2,0,1,1,1,0,0,0,1,0,0
2,question3,0,0,0,1,1,1,0,0,0,0
3,question4,0,0,1,1,0,0,1,1,0,0
4,question5,0,1,0,0,0,0,0,0,1,1
5,question6,1,0,0,1,0,0,0,0,0,0
6,question7,0,0,0,0,0,0,0,1,0,1
7,question8,0,0,1,1,0,0,1,0,0,1
8,question9,0,0,0,0,0,1,0,0,1,0
9,question10,0,1,0,0,1,0,1,0,0,0
10,question11,0,0,1,0,1,0,0,0,1,0
11,question12,1,0,0,0,0,1,1,0,0,0
12,question13,0,0,1,1,1,0,0,1,0,0
13,question14,0,1,1,1,0,0,0,0,1,0
14,question15,0,0,0,1,0,1,1,1,0,0
15,question16,1,0,0,0,0,1,0,0,1,0
16,question17,0,1,1,1,0,0,0,1,0,0
17,question18,0,0,0,1,0,0,0,0,1,0
18,question19,0,1,1,0,1,0,1,0,0,1
19,question20,0,0,1,1,0,0,1,0,1,0

In [6]:
wantdf

    User 1  User 2  User 3  User 4
0      1.0    -1.0     NaN     NaN
1     -1.0     1.0     NaN     NaN
2      NaN     NaN     NaN     NaN
3      NaN     1.0     NaN     NaN
4      NaN     NaN     1.0     NaN
5      1.0     NaN     NaN     NaN
6      NaN     NaN    -1.0     NaN
7      NaN     NaN     1.0     NaN
8      NaN     NaN     NaN     NaN
9      NaN     NaN     NaN     NaN
10     NaN     NaN     NaN     NaN
11     NaN    -1.0    -1.0     NaN
12     NaN     NaN     NaN     NaN
13     NaN     NaN     NaN     NaN
14     NaN     NaN    -1.0     NaN
15     1.0     NaN    -1.0     NaN
16     NaN     1.0     NaN     NaN
17     NaN     NaN     NaN     NaN
18    -1.0     NaN     NaN     NaN

In [7]:
updowndf

    User 1  User 2  User 3  User 4
0     15.0     NaN     NaN     NaN
1      NaN     NaN    40.0     NaN
2      NaN     NaN     NaN     NaN
3      NaN     NaN     NaN     NaN
4      NaN     2.0     NaN     NaN
5     25.0     NaN     NaN     NaN
6      NaN     NaN     NaN     NaN
7      NaN    -4.0     NaN     NaN
8      NaN     NaN     NaN     NaN
9      NaN     NaN     NaN     NaN
10     NaN     NaN     NaN     NaN
11     NaN     NaN     NaN     NaN
12     NaN    -3.0    20.0     NaN
13     NaN     NaN     NaN     NaN
14     NaN     NaN     NaN     NaN
15    26.0     NaN     NaN     NaN
16     NaN    -4.0    82.0     NaN
17     NaN     NaN     NaN     NaN
18     NaN    -2.0   110.0     NaN
19     NaN     3.0    50.0     NaN

## Approach

To address the challenge of creating the 'Quora like' recommendation engine, we are going to use 3 methods and combine their predictions. 

Based on the users' interaction with the rec.engine, the weight of each method will change 
(e.g. start with a high weight for 'non-personalized' and as we get more interactions of the user we put more weight on one of the two 'personalized method').

We will use the following methods:
   * Content-based filtering (Item-Item)
   * Non-personalized
   * Collaborative filtering